@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@{
    int i = 1;
}
<div>
    <div class="text-center">
        <h1>You need to do it</h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Number
                </th>
                <th>
                    Text
                </th>
                <th>
                    Date
                </th>
                <th>
                    Operations
                </th> @*create new row*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Missions)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelitem => i)
                        @{i++;}
                    </td>
                    <td>
                        @Html.DisplayFor(modelitem => item.MissionText)
                    </td>
                    <td>
                        @Html.DisplayFor(modelitem => item.DateTime)
                    </td>
                    <td>
                        <a asp-page="Index" asp-page-handler="delete" asp-route-id="@item.Id">Delete</a>
                        <a asp-page="/Forms/Edit" asp-page-handler="edit" asp-route-id="@item.Id">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
